:root {
	--max-content-width: 75rem;
	font-family: "Libre Franklin", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
	font-size: 2rem;
	font-weight: bold;
 }

.post-type-post .block-editor-writing-flow {
	max-width: 49rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.wp-core-ui.wp-core-ui .button-group.flex {
	display: flex;
}

/* .is-root-container {
	display: grid;
	grid-template-columns: var(--container-grid-columns);

	> *:not(.container-full) {
		grid-area: content;
	}
}  */

 
.wp-block {
	max-width: var(--max-content-width);
}

.wp-block.wp-block[data-align="left"],
.wp-block.wp-block[data-align="right"] {
	height: initial;
}

/* Width of ";wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 100%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block img {
	border: none;
}

.wp-block.wp-block[data-align] > .wp-block-image {
	display: block;
}

.wp-block[data-align] > .wp-block-image > figcaption {
	display: block;
}

.block-editor__container img.h-full {
	height: 100%;
}

.nc-rich-text .block-editor-block-list__layout .wp-block {
	height: auto;
}

