{% extends 'template-parts/base.twig' %}

{% block content %}
    <div class="py-4 lg:py-8">{{ breadcrumbs }}</div>

    <div class="container mx-auto px-container">
        <header class="page-header">
            <h1 class="mb-6 font-serif text-3xl sm:text-4xl md:text-5xl">
            {{ post.title }}
            {% if first_page is not same as(true) %}
             <span class="text-2xl">/ Page {{ posts.pagination.current }}</span>
            {% endif %}
            </h1>
            <hr class="border-current" />
        </header><!-- .page-header -->

        {% if posts|length > 0 %}
            {% for listed_post in posts %}
                {% if listed_post.thumbnail is empty %}
                    {% set listed_post_thumbnail = fallback_image %}
                {% else %}
                    {% set listed_post_thumbnail = Image(listed_post.thumbnail)  %}
                    {% set listed_post_thumbnail = listed_post_thumbnail|resize('3x2') %}
                {% endif %}
                <div class="pt-8 pb-8 border-b border-gray-700 lg:pt-8">
                    {% if first_page and loop.first %}
                        {% set featuredStory = true %}
                    {% else %}
                        {% set featuredStory = false %}
                    {% endif %}
                    {% include ['teasers/teaser-'~listed_post.post_type~'.twig', 'teasers/teaser.twig'] with {
                        post: listed_post,
                        image: {
                            src: listed_post_thumbnail,
                            alt: listed_post.thumbnail.alt,
                            width: 640,
                            height: 427,
                        },
                        featuredStory: featuredStory,
                    }%}
                </div>
            {% endfor %}
            
        {% else %}
            {% include 'content/no-entries.twig' %}
        {% endif %} {# posts|length > 0 #}
    </div>

    {% if pagination %}<div class="container py-8 mx-auto lg:py-10 px-container">{{ pagination }}</div>{% endif %}

    

{% endblock %}