{% extends 'template-parts/base.twig' %}

{% block content %}
    {% if breadcrumbs %}
    <div class="my-4 lg:my-10">{{ breadcrumbs }}</div>
    {% endif %}

    {% include 'content/post.twig' with {
        post: post,
        postHeader: postHeader
    } %}

    {# Related block #}
    {% include 'template-parts/related.twig' with {items} %}

    {# Subscribe block #}
    {{ include('template-parts/subscribe.twig') }}

    {# Highlights block #}
    {% include 'template-parts/highlights.twig' with {highlights} %}

    {# Subscribe block #}
    {{ include('template-parts/separator.twig') }}

{% endblock %}