<div class="bg-gray-200 global-alert links-animated" id="global-alert">
    <div class="container flex py-1 mx-auto space-x-3 px-container">
        {{ icon }}
        <div class="py-1">{{ alert }}</div>
    </div>
</div>