.featuredStory {
    border-radius: 3px;
    margin-bottom: 2rem;
    height: 500px;
    border: 1px solid #ccc;
    .postHeader {
        float: none;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 20px 20px 20px;
        z-index: 2;
        color: #fff;
        box-sizing: border-box;

        .postDate {
            margin: 0;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 3rem;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 3px;
        background: transparent;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(transparent),
            color-stop(50%, transparent),
            color-stop(56%, rgba(0, 0, 0, 0.1)),
            color-stop(93%, rgba(0, 0, 0, 0.6)),
            to(rgba(0, 0, 0, 0.59))
        );
        background-image: -webkit-linear-gradient(
            transparent 0%,
            transparent 50%,
            rgba(0, 0, 0, 0.1) 56%,
            rgba(0, 0, 0, 0.6) 93%,
            rgba(0, 0, 0, 0.59) 100%
        );
        background-image: linear-gradient(
            transparent 0%,
            transparent 50%,
            rgba(0, 0, 0, 0.1) 56%,
            rgba(0, 0, 0, 0.6) 93%,
            rgba(0, 0, 0, 0.59) 100%
        );
    }
}

.sectionHeadline {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 576px) {
    .featuredStory {
        height: 400px;
        .postHeader {
            h2 {
                font-size: 2rem;
            }
        }
    }
}
