.in-the-news-footer {
    background-color: #353535;
    min-height: 200px;
    margin-top: 3rem;
    color: #fff;
}

@media (max-width: 768px) {
    .in-the-news-footer {
        > div {
            padding-top: 50px;
            padding-bottom: 50px;
            flex-direction: column;
        }

        .in-the-news-footer-menu {
            margin-top: 20px;
        }
    }
}
