/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';

$theme-colors: (
    primary: #002878,
);

$font-family-base: franklin-gothic-compressed, sans-serif;
$font-size-base: 1.2rem !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
