<div class="container">
  <div id="site-search-searchbox"></div>
  <div id="site-search-hits-container">
    <div id="site-search-announcer" class="sr-only" aria-live="polite"></div>
    {#
      This h2 is really here just to allow for programmatically focusing on something right
      before the search results (and we want it to be something that isn't clickable,
      so it should be hidden visually). But apparently there needs to be some text/label for
      screen-readers to consistently "honor" the focusing, so h2 makes sense.
    #}
    <h2 id="site-search-hits-heading" class="sr-only" tabindex="-1">Search Results</h2>
    <div id="site-search-hits" class="mt-10 sm:mt-16"></div>
  </div>
</div>