{% set svgClasses = 'w-5 h-5' %}

{# `social-sharing.js` gets the buttons working and fleshes out the mailto: link #}
<div class="p-2 -m-2 overflow-hidden leading-0">
  <ul class="inline-flex flex-wrap items-center -m-1.5 children:m-1.5">
    <li>
      <a class="inline-block social-share email" aria-label="Share with email" href="mailto:">
        <svg class="{{ svgClasses }}" aria-hidden="true" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M 24 20 L 0 20 L 0 5.518 L 9.061 14.013 C 9.014 14 10.507 15.6 12 15.6 C 13.475 15.601 14.787 14 14.787 14 L 24 5.333 Z M 14.488 12 C 14.488 12 13.095 13.5 12 13.5 C 10.905 13.5 9.512 12 9.512 12 L 1.021 4 L 22.927 4 Z" style=""></path></svg>
      </a>
    </li>
    <li>
      <button class="social-share facebook" aria-label="Share page on Facebook (opens new window).">
        <svg class="{{ svgClasses }}" aria-hidden="true" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M1024,512C1024,229.2,794.8,0,512,0S0,229.2,0,512c0,255.6,187.2,467.4,432,505.8V660H302V512h130V399.2 C432,270.9,508.4,200,625.4,200c56,0,114.6,10,114.6,10v126h-64.6c-63.6,0-83.4,39.5-83.4,80v96h142l-22.7,148H592v357.8 C836.8,979.4,1024,767.6,1024,512z"/></svg>
      </button>
    </li>
    <li class="social-share twitter"><a href="https://x.com/colbycollege" aria-label="X: https://x.com/colbycollege" class="wp-block-social-link-anchor"><svg width="24" height="24" viewBox="-200 0 1650 1227" xmlns="http://www.w3.org/2000/svg"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"></path></svg></a></li>
    <li>
      <button class="social-share linkedin" aria-label="Share page on LinkedIn (opens new window).">
        <svg class="{{ svgClasses }}" aria-hidden="true" viewBox="0 0 549 548.992" xmlns="http://www.w3.org/2000/svg"><path d="M467.783,467.779H386.436V340.387c0-30.378-.542-69.483-42.307-69.483-42.369,0-48.852,33.1-48.852,67.271V467.769H213.932V205.8h78.091v35.8h1.095a85.684,85.684,0,0,1,77.05-42.315c82.447,0,97.65,54.229,97.65,124.781ZM122.147,169.99h-.01a47.205,47.205,0,1,1,47.206-47.214v.01a47.428,47.428,0,0,1-47.2,47.2m40.672,297.789H81.389V205.8h81.43ZM508.335.038H40.51A40.253,40.253,0,0,0,0,39.607V509.375a40.277,40.277,0,0,0,40.51,39.614H508.335A40.344,40.344,0,0,0,549,509.375V39.576A40.323,40.323,0,0,0,508.335,0"/></svg>
      </button>
    </li>
  </ul>
</div>