<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color">
        <div class="wp-container-62211b980511f wp-block-group">
<div class="wp-block-columns force-center-md">
<div class="wp-block-column is-vertically-aligned-center">
<h2 class="has-base-font-size"><strong>Sign up to read the latest each week.</strong></h2>
</div>



<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:40%">
<div class="wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="/newsletter">Subscribe</a></div>
</div>
</div>
</div>
</div>
<style>.wp-container-62211b980511f > * {max-width: 85%;margin-left: auto !important;margin-right: auto !important;}.wp-container-62211b980511f > .alignwide { max-width: 85%;}.wp-container-62211b980511f .alignfull { max-width: none; }.wp-container-62211b980511f .alignleft { float: left; margin-right: 2em; }.wp-container-62211b980511f .alignright { float: right; margin-left: 2em; }</style>
        <hr class="wp-block-separator">